/*
 * Copyright (c) 2019, MADMACHINE LIMITED
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nxp/nxp_rt.dtsi>

/ {
	model = "MM MM-SWIFTIO board";
	compatible = "nxp,mimxrt1052";

	aliases {
		led0 = &green_led;
		led1 = &red_led;
		led2 = &blue_led;
	};

	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
	};

	sdram0: memory@80000000 {
		/* Micron MT48LC16M16A2B4-6AIT:G */
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x80000000 0x2000000>;
	};

	leds {
		compatible = "gpio-leds";
		red_led: led_0 {
			gpios = <&gpio1 9 0>;
			label = "RGB R";
		};

		green_led: led_1 {
			gpios = <&gpio1 10 0>;
			label = "RGB G";
		};

		blue_led: led_2 {
			gpios = <&gpio1 11 0>;
			label = "RGB B";
		};
	};

	panel {
		compatible = "lcd,rgb-interface";
		width = <800>;
		height = <480>;
		hsw = <1>;
		hfp = <22>;
		hbp = <46>;
		vsw = <1>;
		vfp = <22>;
		vbp = <23>;
		frame-per-sec = <60>;

		port {
			lcd_panel_in: endpoint {
				remote-endpoint = <&lcd_panel_out>;
			};
		};
	};
};

&lcdif1 {
	status = "okay";
	port {
		lcd_panel_out: endpoint {
			remote-endpoint = <&lcd_panel_in>;
		};
	};
};

&flexspi0 {
	reg = <0x402a8000 0x4000>, <0x60000000 0x800000>;
	is25wp064: is25wp064@0 {
		compatible = "issi,is25wp064", "jedec,spi-nor";
		size = <67108864>;
		label = "IS25WP064";
		reg = <0>;
		spi-max-frequency = <133000000>;
		status = "okay";
		jedec-id = [9d 70 17];
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
};

&uart4 {
	status = "okay";
	current-speed = <115200>;
};

&uart6 {
	status = "okay";
	current-speed = <115200>;
};

&uart8 {
	status = "okay";
	current-speed = <115200>;
};

&i2c1 {
	status = "okay";
	/* clock-frequency = <I2C_BITRATE_STANDARD>; */
	gt9x@14 {
		compatible = "coodix,gt9x";
		reg = <0x14>;
		label = "GT9X";
		int-gpios = <&gpio1 19 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	};
};

&i2c3 {
	status = "okay";
};


&spi3 {
	status = "okay";
};

&spi4 {
	status = "okay";
};

&usbd1 {
	status = "okay";
};

&usdhc1 {
	status = "okay";
	cd-gpios = <&gpio2 28 GPIO_ACTIVE_LOW>;
};
